* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: #121212;
  color: #f1f1f1;
}
body {
  margin: 10px;
}
.cabecalho {
  background-color: rgba(28, 14, 14, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 8%;
  backdrop-filter: blur(10px);
  z-index: 1000;
  border-bottom: 1px solid #2a2a2a;
}

.cabecalho h1 a {
  font-size: 1.5rem;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
.cabecalho span{
  color: #e50914;
}
.cabecalho h1 a:hover{
  color: #e4f805;
}
.cabecalho nav ul{
  display: flex;
  list-style: none;
  gap: 18px;
}
.cabecalho nav a{
  color: #cccccc;
  text-decoration: none;
  font-size: 500;
  font-size: 1rem;
  transition: all 0.3s ease;
}
.cabecalho a:hover{
  color: #e4f805;
}
main{
  margin-top: 80px;
}
.fundo {
  width: 100vw;
  height: 100vw;
  max-height: 500%;
  object-fit: cover;
  display: block;
  filter: brightness(0.8);
  
}